@import './../../styles/variables';
@import './../../styles/fonts';

.instagram {
  @extend %font__nunito;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;

  p {
    font-weight: lighter;
    color: $color-gray-light;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 0.0625rem;
  }

  h2 {
    font-weight: normal;
    margin-top: 0.5rem;
    margin-bottom: 5rem;
    font-size: 2.1875rem;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(3,11.375rem);
    grid-template-rows: repeat(2,11.375rem);
    grid-gap: 0.125rem;
    margin: 0 auto;
  }
}