.structure{
  
  &__container {
    margin: 0 auto;
    width: 80rem;
    position: relative;
    @media(max-width: $breakpoint-desktop) {
      width: 60rem;
    }
    @media(max-width: $breakpoint-tablet) {
      width: 48rem;
    }
    @media(max-width: $breakpoint-mobile) {
      width: 100%;
    }
  }

  &__full-width {
    width: 80rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    @media(max-width: $breakpoint-desktop) {
      width: 60rem;
    }
    @media(max-width: $breakpoint-tablet) {
      width: 48rem;
    }
    @media(max-width: $breakpoint-mobile) {
      width: 100%;
      padding-left: 0rem;
      padding-right: 0rem;
    }
  }

  &__half-width {
    width: 40rem;
    @media(max-width: $breakpoint-desktop) {
      width: 30rem;
    }
    @media(max-width: $breakpoint-tablet) {
      width: 24rem;
    }
    @media(max-width: $breakpoint-mobile) {
      width: 100%;
    }
  }

  &__fifth-width {
    width: 14rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    @media(max-width: $breakpoint-mobile) {
      width: 100%;
    }
  }

  &__index-one{
    z-index: 1;
  }

  &__index-two{
    z-index: 2;
  }

  &__index-three{
    z-index: 3;
  }

}