@import './../../styles/fonts';
@import './../../styles/variables';

.header{
  
  padding-top: 2.5rem;
  top: 0;
  display: flex;
  justify-content: space-between;

  &__logo{
    margin: 0;
  }

  &__sections {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    li {
      @extend %font__nunito;
      padding: 0 1rem 0.5rem;
      text-align: center;
      position: relative;

      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px;
        content: " ";
        background-color: #FFFFFF;
        opacity: 0.5;
      }

      &:last-child{
        &:after{
          display: none;
        }
      }

      a {
        color: $color-primary;
        font-weight: bold;
        text-transform: uppercase;
        span {
          display: block;
          margin-top: 0.5rem;
        }
      }
    }
  }

  &__user {

    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-end;

      li {
        position: relative;
        padding-left: 0.75rem;

        &:first-child{

          padding-right: 0.75rem;

          &::after{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 1px;
            content: " ";
            background-color: #FFFFFF;
            opacity: 0.5; 
           
          }
        }

        a{
          font-size: 0.625rem;
          color: $color-primary;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          img {
            margin-left: 0.375rem;
          }
        }
      }
    }
  }
}