@import './../../styles/fonts';

.footer {
  box-shadow: 0px 0.5rem 1rem rgba(0,0,0,0.6);
  padding-top: 2.625rem;
  padding-bottom: 4rem;

  &__container {
    display: flex;
    justify-content: center;
  }

  &__division {
    position: relative;
    margin-left: 2.125rem;
    &:after{
      content: " ";
      width: 0.0625rem;
      height: 5.8125rem;
      position: absolute;
      background-color: #e5e5e5;
      right: 0;
      top: 0;
    }
  }

  &__menu {
    @extend %font__nunito;
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: 0.625rem;
    text-transform: uppercase;

    li {
      margin-bottom: 0.75rem;
    }
    a {
      color: black;
      font-weight: bold;
    }
  }
  
  &__secure-buy {
    @extend %font__nunito;
    margin-top: 0;
    font-size: 0.625rem;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
  }

  &__fiscal {
    display: flex;
    align-items: center;
    margin-top: 1.75rem;
  }

  &__afip {
    width: 1.875rem;
    margin-right: 1rem;
  }

  &__secure {
    margin-right: 1rem;
  }

  &__guarantee {
    @extend %font__nunito;
    font-size: 0.5rem;
    text-transform: uppercase;
    font-style: italic;
  }

  &__networks {

    display: flex;
    align-items: center;
    margin-left: 1.1875rem;

    span {
      @extend %font__nunito;
      font-size: 0.625rem;
      text-transform: uppercase;
      font-weight: bold;
      margin-right: 0.825rem;
    }

    img {
      margin-right: 0.825rem;
    }
  }

  &__disclaimer {
    @extend %font__nunito;
    margin-top: 3rem;
    border-top: 0.0625rem solid #e5e5e5;
    padding-top: 0.625rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.6875rem;
  }

}